.u-section-1 .u-sheet-1 {
  min-height: 342px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 58px;
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}